.jumbotron {
	
	background-color: gray;
	color: white;
	margin-top: 50px;

}

footer {

	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 0px; 
	margin-top: 10px;
	color: white;
}
.footer-address-icon{

	padding-right: 10px;

}

.card-bar{

	flex: 1 150px;
	margin-top: 10px;
}

.btn-reserva{

    width: 100%;
    border-radius: 0px;
}
.tab-content {

	padding-top: 10px;
}