$yellow:#e0e041;
$black:#404241;
$red:#bf362c;
$green:#44b336;

@mixin margenes($top, $bottom){
	
	margin-top: $top;
	margin-bottom: $bottom;

}

.jumbotron {
	
	background-color: $black;
	color: white;
	@include margenes(50px, 0px);
	
}

footer {

	padding: 10px 10px 0 10px;
	background-color: $black;
	@include margenes(10px, 0px);
	color: red;
}
.footer-address-icon{

	padding-right: 10px;

}

.card-bar{

	flex: 1 150px;
	@include margenes(10px, 0px);
	
}

.btn-reserva{

    width: 100%;
    border-radius: 0px;
}
.tab-content {

	padding-top: 10px;
}