@yellow:#e0e041;
@black:#404241;
@red:#610000;
@green:#44b336;


.margenes(@top: 0px, @bottom: 0px){
  
  margin-top: @top;
  margin-bottom: @bottom;

}

.jumbotron {
  background-color: @black;
  color: white;
  .margenes(50px, 0px);

  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  color: @black;
  .margenes(10px, 0px);
  
  }

.footer-address-icon {
  padding-right: 10px; }

.card-bar {
  flex: 1 150px;
  .margenes(10px, 0px);

   }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }