.jumbotron {
  background-color: #404241;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #610000;
  color: #404241;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-bar {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
